In [4]:
import pandas as pd

pd.read_parquet("C:/Users/86155/Desktop/CRYPTO_DAILY_DATA/ETHUSDT/klines_2024-01-02.parquet")

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1704153600000,2352.05,2352.20,2352.04,2352.20,8.0341,1704153600999,18896.675417,42,7.6035,17883.854503,0
1,1704153601000,2352.19,2352.20,2352.02,2352.02,61.8182,1704153601999,145403.223190,75,2.5706,6046.505218,0
2,1704153602000,2352.01,2352.02,2352.00,2352.01,7.1336,1704153602999,16778.298180,12,0.0571,134.299878,0
3,1704153603000,2352.00,2352.01,2352.00,2352.01,9.8912,1704153603999,23264.197350,15,9.4950,22332.334950,0
4,1704153604000,2352.01,2352.01,2352.00,2352.01,0.5886,1704153604999,1384.392312,6,0.5112,1202.347512,0
...,...,...,...,...,...,...,...,...,...,...,...,...
86395,1704239995000,2355.35,2355.35,2355.35,2355.35,0.2143,1704239995999,504.751505,1,0.2143,504.751505,0
86396,1704239996000,2355.35,2355.35,2355.35,2355.35,0.0137,1704239996999,32.268295,1,0.0137,32.268295,0
86397,1704239997000,2355.35,2355.35,2355.35,2355.35,0.0658,1704239997999,154.982030,4,0.0658,154.982030,0
86398,1704239998000,2355.35,2355.35,2355.35,2355.35,0.0127,1704239998999,29.912945,3,0.0127,29.912945,0
86399,1704239999000,2355.35,2355.35,2355.34,2355.34,1.1304,1704239999999,2662.481859,42,0.5523,1300.859805,0

In [3]:
pd.read_parquet("C:/Users/86155/Desktop/CRYPTO_DAILY_DATA/ETHUSDT/trades_2024-01-02.parquet")

,Trade_Id,Price,Qty,QuoteQty,Time,IsBuyerMaker,IsBestMatch
0,1266929762,2352.05,0.0473,111.251965,1704153600000,False,True
1,1266929763,2352.05,0.0237,55.743585,1704153600000,False,True
2,1266929764,2352.04,0.0094,22.109176,1704153600002,True,True
3,1266929765,2352.05,0.0248,58.330840,1704153600005,False,True
4,1266929766,2352.04,0.0052,12.230608,1704153600006,True,True
...,...,...,...,...,...,...,...
1028330,1267958092,2355.34,0.0142,33.445828,1704239999997,True,True
1028331,1267958093,2355.35,0.0320,75.371200,1704239999997,False,True
1028332,1267958094,2355.34,0.0172,40.511848,1704239999997,True,True
1028333,1267958095,2355.35,0.0184,43.338440,1704239999997,False,True
1028334,1267958096,2355.34,0.0218,51.346412,1704239999998,True,True